@page
@model IndexModel
@{
    ViewData["Title"] = "SAG Generator";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>*@
    <h1>Sword Agility Graph Generator</h1>
    <img src="~/img/graph.png" />
</div>
