@page
@model SAG2.Pages.InfoModel
@{
    ViewData["Title"] = "Info";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Info</h1>

<img src="~/img/info.png" width="100%" />

<br><br>
<h3>Parameters</h3>
<p>
    All parameters except for mass are the lengths from beginning of the pommel to certain point on the sword.
</p>
<p class="big">
    <b>Mass</b> - Total mass of the sword in grams.<br>
    <b>Center of mass</b> - Center of mass of the sword.<br>
    <b>Grip Reference</b> - Beginning of the guard.<br>
    <b>Lever Reference</b> - End of the pommel.<br>
    <b>Hilt Node</b> - Point on the hilt in which sword doesn't vibrates.<br>
    <b>Blade Node</b> - Point on the blade in which sword doesn't vibrates.<br>
    <b>Action Points</b> - Point on which force is implied when rotating the sword. It can be any point on the sword, but it's typical to choose points on the beginning and the end of the grip.<br>
    <b>Pivot Points</b> - Point around which sword rotates when force is implied on it's action point.<br>
    <b>Overall Length</b> - Full length of the sword.<br>
</p>










